{% block content %}
  <form method="post" accept-charset="UTF-8">
    {{ csrfInput() }}
    {{ actionInput('thesaurus-plugin/settings/save-settings') }}

    <h3>Settings for Thesaurus Plugin</h3>
<h4>{{ settings.tKey }}</h4>
    <div>
      <label for="tKey">Merriam Thesaurus API Key</label>
      <input type="text" id="tKey" name="settings[tKey]" value="{{ settings.tKey ?? '' }}" />
    </div>

    <div>
      <label for="dKey">Merriam Dictionary API Key</label>
      <input type="text" id="dKey" name="settings[dKey]" value="{{ settings.dKey ?? '' }}" />
    </div>

    <div class="buttons">
      <button type="submit" class="btn submit">Save Settings</button>
    </div>
  </form>
{% endblock %}
